body {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.header .pr_list {
    float: left;
    font-size: 25px;
    font-weight: bold;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #f2f2f2;
    font-size: 18px;
    color: black;
    text-align: center;
}

.header input[type="submit"], input[type="button"] {
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
    margin-right: 20px;
    font-size: 18px;
    float: right;
    padding: 5px;
}

    .header input[type="submit"]:hover, input[type="button"]:hover {
        outline: 2px blue solid;
        outline-offset: 2px;
        cursor: pointer;
    }

.header a {
    text-decoration: none;
    color: white;
}

.hr_line {
    border-top: 2px solid black;
}

.products {
    border: 2px solid black;
    width: 200px;
    height: 150px;
}

.inputs {
    font-size: 18px;
    margin-bottom: 18px;
}

label {
    width: 120px;
    display: inline-block;
}

#DVD {
    display: none;
}

#Book {
    display: none;
}

#Furniture {
    display: none;
}
